h1{
    text-align: center;
      font-size: 24px;
  }
  .back{
    font-style: italic;
  }
  h2{
    text-align: center;
  }
  .frie{

    background-color: green;
    color: yellow;
    font-weight: bold;
  }
  td{
   text-align: center;
    border: 1.5px solid black;
    padding: 1%;
    min-width: 170px;
  }
.tele{
 text-align: right;
    }