

h1{
  text-align: center;
  font-size: 24px;
}
p{
  font-size: 120%;
}
.bio{
  color: crimson;
}
.bio:visited{
  color: rgb(115, 184, 4);
}
.now{
  color: rgb(209, 165, 22);
}
.now:visited{
  color: rgb(115, 184, 4);
}
.friends{
  color: darksalmon;
}
.friends:visited{
  color: rgb(115, 184, 4);
}
.gallery{
  color: rgb(202, 85, 196);
}
.gallery:visited{
  color: rgb(115, 184, 4);
}



@media(max-width: 768px){
    .h1{
        width: 25%;
        float: left;

    }
    .bio:visited{
        display: flex;
        flex-direction: column;
    }
    .now:visited{
        display: flex;
        flex-direction: column;

    }
    .friends:visited{
        display: flex;
        flex-direction: column;
    }

    .gallery:visited{
        display: flex;
        flex-direction: column;
    }
}